/* 서브 */
.sub {
    width: 100%;
    height: auto;
    background: #F2F4F7;
    border-top: 2px solid #025AC6;

    .sub_box {
        width: 1200px;
        height: auto;
        margin: 49px auto 0px auto;
        display: table;

        .sub_ul {
            width: inherit;
            height: inherit;

            li {
                height: inherit;
                float: left;

                .sub_frame {
                    .top {
                        height: 37px;
                        margin-bottom: 15px;
                    }
                }

                &.hide {
                    display: none;
                }

                &.sub_left {
                    width: 0px;
                }

                &.sub_center {
                    width: 955px;

                    &.form {
                        width: 955px;
                    }

                    .sub_frame {
                        width: inherit;
                        height: inherit;

                        li {
                            width: inherit;
                        }

                        .top {

                            .left_item {
                                float: left;
                            }

                            .right_item {
                                float: right;
                                position: relative;
                                top: 8px;

                                .right_menu {
                                    li {
                                        &:nth-child(1)::after {
                                            margin: 0px 12px 0px 12px;
                                            content: "|";
                                            position: relative;
                                            top: -2px;
                                        }
                                        &:nth-child(2)::after {
                                            margin: 0px 12px 0px 12px;
                                            content: "|";
                                            position: relative;
                                            top: -2px;
                                        }
                                    }
                                }
                            }
                        }

                        .mid {
                            height: auto;
                            margin-bottom: 35px;

                            .input_white {
                                background: white 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }

                            .input_gray {
                                background: #F3F3F3 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }
                            
                            /* 소속팀 선택 */
                            .team_form {
                                width: inherit;

                                >li {
                                    width: inherit;

                                    .input_set_ul {
                                        width: inherit;

                                        >li:nth-child(1) {
                                            margin-bottom: 8px;
                                        }

                                        .li_input_wrap {
                                            height: 40px;

                                            >input {
                                                display: inline-block;
                                                float: left;
                                                margin-right: 5px;

                                                &:last-child {
                                                    margin-right: 0px;
                                                }
                                            }
                                        }
                                    }

                                    &.input_set {
                                        margin-bottom: 25px;

                                        &_2 {
                                            margin-bottom: 25px;

                                            .input_set_ul {
                                                float: left;

                                                &:nth-child(1) {
                                                    width: 265px;
                                                    
                                                }
                                                &:nth-child(2) {
                                                    width: 265px;
                                                    margin-left: 40px;
                                                }
                                            }
                                        }

                                        &_3 {
                                            margin-bottom: 25px;

                                            .input_set_ul {
                                                float: left;

                                                &:nth-child(1) {
                                                    width: 265px;
                                                    
                                                    p {
                                                        float: left;
                                                    }

                                                    div {
                                                        float: right;
                                                    }
                                                }
                                                &:nth-child(2) {
                                                    width: 490px;
                                                    margin-left: 40px;
                                                }
                                            }
                                        }

                                        &_4 {
                                            margin-bottom: 25px;

                                            .input_set_ul {
                                                float: left;

                                                &:nth-child(1) {
                                                    width: 460px;
                                                }

                                                li {
                                                    &:nth-child(2) {
                                                        margin-bottom: 8px;
                                                    }
                                                }
                                            }
                                        }

                                        &_5 {
                                            margin-bottom: 25px;

                                            .input_set_ul {
                                                float: left;

                                                .checkbox_wrap {
                                                    width: 130px; height: 40px;
                                                    background: #FFFFFF 0% 0% no-repeat padding-box;
                                                    border: 1px solid #B1B1B1;
                                                    border-radius: 3px;
                                                    display: table;

                                                    .inside {
                                                        display: table-cell;
                                                        vertical-align: middle;
                                                        text-align: center;
                                                        margin: auto;
                                                    }

                                                    &.checked {
                                                        border: 1px solid #224B9E;
                                                    }

                                                    &:nth-child(2) {
                                                        margin-left: 5px;
                                                    }
                                                }

                                                &:nth-child(1) {
                                                    width: 320px;

                                                    li {
                                                        >div {
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            #team_code {
                                width: 149px; height: 40px;
                                padding: 8px 10px 8px 10px;
                            }
                            #team_name {
                                width: 309px; height: 40px;
                                padding: 8px 10px 8px 10px;
                            }
                            #team_search {
                                width: 107px; height: 40px;
                                background: #F5F5F5 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }
                            #in_date {
                                width: 265px; height: 40px;
                                padding: 8px 10px 8px 10px;
                                text-align: left;
                            }
                            #select_athletics {
                                width: 265px; height: 40px;
                                padding: 8px 10px 8px 10px;
                                text-align: left;
                            }
                            #transfer_reason {
                                width: 265px; height: 40px;
                                padding: 8px 10px 8px 10px;
                                text-align: left;
                            }
                            #agreement_search {
                                width: 137px; height: 40px;
                                background: #F5F5F5 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }
                            #agreement_delete {
                                width: 137px; height: 40px;
                                background: #F5F5F5 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }
                            #agreement_download {
                                width: 199px; height: 40px;
                                background: #F5F5F5 0% 0% no-repeat padding-box;
                                border: 1px solid #B1B1B1;
                                border-radius: 3px;
                            }
                            /* 소속팀 선택 */

                            .ul_form {
                                .li_form {
                                    width: 955px;
                                    border: 1px solid #DCE1EB;
                                    background: white;
                                    margin-bottom: 35px;

                                    &:last-child {
                                        margin-bottom: 0px;
                                    }

                                    .tab_form {
                                        width: 100%;

                                        .form_top {
                                            border-bottom: 1px solid #DCE1EB;
                                        }

                                        .form_top_2 {
                                            height: 226px;
                                            border-bottom: 1px solid #DCE1EB;

                                            .ul_picture {
                                                /*padding: 35px;*/
                                                >li {
                                                    /*height: 154px;*/
                                                }

                                                .li_picture {
                                                    width: 128px; height: 158px;
                                                    background: url(../../img/ggin_golf/picture_box.svg) no-repeat;
                                                }
                                            }
                                        }

                                        .form_mid {
                                            padding: 35px;

                                            .text_info {
                                                width: inherit;
                                                height: auto;

                                                .info_list {
                                                    width: inherit;
                                                    margin-bottom: 14px;

                                                    &:last-child {
                                                        margin-bottom: none;

                                                        .blank {
                                                            height: 35px;
                                                        }

                                                        .btn_1 {
                                                            width: 97px;
                                                            height: 35px;
                                                            background: #F5F5F5 0% 0% no-repeat padding-box;
                                                            border: 1px solid #B1B1B1;
                                                            border-radius: 3px;
                                                            display: table;
                                                            float: left;

                                                            p {
                                                                display: table-cell;
                                                                vertical-align: middle;
                                                                text-align: center;
                                                            }
                                                        }
                                                        .btn_2 {
                                                            width: 100px;
                                                            height: 35px;
                                                            background: #F5F5F5 0% 0% no-repeat padding-box;
                                                            border: 1px solid #B1B1B1;
                                                            border-radius: 3px;
                                                            display: table;
                                                            float: left;
                                                            margin-left: 5px;

                                                            p {
                                                                display: table-cell;
                                                                vertical-align: middle;
                                                                text-align: center;
                                                            }
                                                        }
                                                    }

                                                    * {
                                                        color: #3D3D3D;
                                                        line-height: 25px;
                                                    }

                                                    ul {
                                                        width: inherit;

                                                        li {
                                                            &:nth-child(1) {
                                                                width: 104px;
                                                                height: auto;
                                                                margin-right: 30px;
                                                            }
                                                            &:nth-child(2) {
                                                                width: auto;
                                                                height: auto;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .education_info {
                                                width: inherit;
                                                height: auto;
                                                /*display: inline-block;*/

                                                .info_box {
                                                    width: inherit;
                                                    height: auto;

                                                    .info_ul {
                                                        width: inherit;
                                                        height: 25px;
                                                        display: inline-table;
                                                        border-bottom: 1px #DCE1EB solid;
                                                        margin-top: 25px;

                                                        &:nth-child(1) {
                                                            margin-top: 0px;
                                                        }

                                                        >li {
                                                            margin-bottom: 15px;
                                                            
                                                            &:last-child {
                                                                margin-bottom: 25px;
                                                            }
                                                        }

                                                        .line_item {
                                                            float: left;

                                                            li {
                                                                &:nth-child(1) {
                                                                    width: 80px;
                                                                }
                                                            }

                                                            &::after {
                                                                margin: 0px 40px 0px 0px;
                                                                content: "|";
                                                                position: relative;
                                                                top: -2px;
                                                            }

                                                            &:last-child::after {
                                                                content: none;
                                                            }
                                                        }

                                                        .line_1 {
                                                            .line_item {
                                                                li {
                                                                    &:nth-child(2) {
                                                                        width: 128px;
                                                                    }
                                                                }

                                                                &:nth-child(2) {
                                                                    li {
                                                                        &:nth-child(2) {
                                                                            width: 225px;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        .line_2 {
                                                            .line_item {
                                                                li {
                                                                    &:nth-child(2) {
                                                                        width: 128px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        ul {
                                            .li_tab {
                                                width: 238px;
                                                height: 73px;
                                                display: table;
                                                border-left: 1px solid #DCE1EB;

                                                p {
                                                    display: table-cell;
                                                    vertical-align: middle;
                                                    text-align: center;
                                                }

                                                &:nth-child(1) {
                                                    border-left: none;
                                                }

                                                &:nth-child(4) {
                                                    width: 239px;
                                                }

                                                &.active {
                                                    border-left: none;
                                                    background: #035AC6;

                                                    p {
                                                        color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        .bot {
                            position: relative;
                            bottom: 0px;
                            height: 73px;
                            text-align: center;
                            background: #035AC6;
                            display: table;
                            margin-bottom: 130px;

                            p {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                color: white;
                            }
                        }
                    }
                }

                &.sub_right {
                    width: 230px;
                    margin-left: 15px;

                    .sub_frame {
                        width: inherit;

                        li {
                            width: inherit;
                        }

                        .top {
                            
                        }
                        .mid {
                            height: 2594px;
                            background: white;
                            border: 1px solid #DCE1EB;

                            .mid_item {
                                width: inherit;

                                >li {
                                    height: auto;
                                }

                                .btn_set {
                                    li {
                                        width: 114px;
                                        height: 60px;
                                        text-align: center;
                                        background: #03A5C6;
                                        display: table;

                                        p {
                                            color: white;
                                            display: table-cell;
                                            text-align: center;
                                            vertical-align: middle;
                                        }

                                        &:nth-child(1) {
                                            
                                        }

                                        &:nth-child(2) {
                                            margin-left: 1px;
                                            border-right: 1px solid #DCE1EB;
                                        }
                                    }
                                }

                                .info_phone {
                                    width: inherit;
                                    height: auto;
                                    background: #F6F6F6;
                                    
                                    li {
                                        width: 228px;
                                        height: 90px;
                                        background: #F6F6F6;
                                        border-bottom: 1px solid #DCE1EB;
                                        text-align: center;
                                        display: table;

                                        &.phone_1 {

                                            .div_table {
                                                width: inherit; height: inherit;
                                                display: table;
                                            }

                                            .img {
                                                width: 185px;
                                                height: 51px;
                                                background: url(../../img/ggin_golf/sub_right_btn_1.svg) no-repeat;
                                                margin: 20px auto auto auto;
                                            }
                                        }
                                        &.phone_2 {

                                            .img {
                                                width: 183px;
                                                height: 64px;
                                                background: url(../../img/ggin_golf/sub_right_btn_2.svg) no-repeat;
                                                margin: 12px auto auto auto;
                                            }
                                        }
                                    }
                                }
                                .li_bot {
                                    width: inherit;
                                    text-align: center;

                                    .btn_top {
                                        display: inline-block;
                                        width: 52px;
                                        height: 80px;
                                        background: url(../../img/ggin_golf/btn_top.svg) no-repeat;
                                    }
                                }
                            }
                        }
                    }

                    &.outline {
                        width: 230px;
                        background: lightcoral;
                    }
                }
            }
        }

        // 1108 sub 레이아웃 추가 lyj
        .sub-tit{
            // padding: 0 50px;
        }
        .sub-wrap{
            background: #fff; 
            border: 1px solid #dce1eb;
        }
    }
}