body{
    overflow-x: hidden;
}

/* 버튼 설정 */
.btn {
    cursor: pointer;
}

* {
    font-family: "NotoSans";
}

.float {
    &-l { float: left; }
    &-r { float: right; }
}

/* 메인 */
.main {
    width: 100%;
    height: 602px;

    & .font-roboto {
        font-family: "roboto";
    }

    .main_box {
        position: relative;
        display: block;
        width: 1200px;
        height: inherit;
        margin: auto;
    }

    .main_box_1 {
        display: inline-block;
        position: absolute;
        height: 602px;
        top: 0px;
        left: 556px;
        background-color: red;

        .bg_img {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 915px;
            height: inherit;
            background: url(../../img/ggin_golf/golf_1.jpg) no-repeat;
        }

        .script {
            position: absolute;
            width: 470px;
            left: -556px;
            bottom: 0px;

            p {
                color: white;

                &:nth-child(1) {
                    margin-bottom: 11px;
                }
                &:nth-child(2) {
                    margin-bottom: 36px;
                }
            }
        }
    }

    .main_box_2 {
        display: inline-block;
        position: absolute;
        width: 628px;
        height: 602px;
        top: 0px;
        left: 572px;

        .box_info {
            width: 380px;
            height: inherit;
            float: left;
            border-bottom: 1px solid #9A9A9A;

            .user_top {
                width: inherit;
                height: 236px;
                background: #029EC6;
                padding: 31px 32px 36px 40px;

                // 선수 등록
                &.player_apply {
                    background: #025AC6;
                    height: 277px;
                }

                // 지도자 등록
                &.master_apply {
                    background: #0283C6;
                    height: 328px;

                    .user_list {
                        ul{
                            .item {
                                height: 25px;
                                margin-bottom: 9px;

                                &.margin-bot-19 {
                                    margin-bottom: 19px;
                                }
                            }

                            
                        }
                    }
                }

                // 심판 등록
                &.referee_apply {
                    background: #029EC6;
                    height: 236px;
                }

                // 선수관리자 등록
                &.manager_apply {
                    background: #16B7AC;
                    height: 328px;

                    .user_list {
                        ul{
                            .item {
                                height: 25px;
                                margin-bottom: 9px;

                                &.margin-bot-19 {
                                    margin-bottom: 19px;
                                }
                            }

                            
                        }
                    }
                }

                & * {
                    color: white;
                }

                .title {
                    margin-bottom: 16px;
                }

                .dashed_line {
                    width: 305px;
                    height: 0px;
                    border: 1px dashed #FFFFFF;
                    margin: 22px 0px 22px 0px;
                }

                .round_black {
                    display: inline-block;
                    width: 59px;
                    height: 25px;
                    text-align: center;
                    background: #241F1B 0% 0% no-repeat padding-box;
                    border-radius: 16px;
                    line-height: 22px;
                    margin-left: 8px;
                }

                .user_list {
                    ul{
                        .item {
                            height: 25px;
                            margin-bottom: 14px;

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            .btn.btn_more {
                                display: block;
                                width: 70px;
                                height: 25px;
                                margin: auto;
                                /*background: url(../../img/ggin_golf/more_view.svg) no-repeat;*/

                                li {
                                    float: left;
                                }

                                .img {
                                    width: 25px;
                                    height: 25px;
                                    background: url(../../img/ggin_golf/more_view.svg) no-repeat;
                                }
                            }

                            >div {
                                float: left;

                                &:nth-child(1) {
                                    width: 25px;
                                    height: 25px;
                                    text-align: center;

                                    .circle {
                                        width: 7px;
                                        height: 7px;
                                        background: white;
                                        border-radius: 3px;
                                        display: inline-block;
                                        margin-bottom: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .user_mid {
                width: inherit;
                height: 169px;
                padding: 20px 0px 0px 36px;

                .title {
                    margin-bottom: 10px;
                }

                .item {
                    height: 25px;

                    .phone_info {
                        li {
                            float: left;

                            &.phone_number {
                                margin-left: 11px;
                            }

                            &.phone_text {
                                margin-bottom: 9px;
                            }
                        }
                    }
                }
            }

            .user_bot_1 {
                position: absolute;
                width: inherit;
                height: 40px;
                bottom: 122px;

                ul {
                    height: inherit;
                }

                ul li {
                    width: 126px;
                    height: inherit;
                    float: left;
                    border: 1px solid #B1B1B1;
                    text-align: center;
                    padding-top: 8px;

                    &:nth-child(2), &:nth-child(3) {
                        border-left: none;
                    }
                }
            }

            .user_bot_2 {
                position: absolute;
                bottom: 0px;
                margin: 35px auto 35px 20px;
                /*padding: 0px 20px 20px 20px;*/

                ul li {
                    float: left;

                    &.phone_img {
                        width: 47px;
                        height: 47px;
                        background: url(../../img/ggin_golf/phone.svg) no-repeat;
                    }

                    &.phone_text {
                        margin-left: 17px;

                        p:nth-child(2) {
                            font-family: "roboto";
                        }
                    }
                }
            }
        }
        .box_service {
            width: 233px;
            height: inherit;
            background: #EDF0F2 0% 0% no-repeat padding-box;
            border: 1px solid #A1B2C8;
            float: left;
            margin-left: 15px;

            .service_title {
                width: 125px;
                height: 27px;
                text-align: center;
                margin: 31px auto 20px auto;
            }

            ul {
                width: 132px;
                margin: auto;

                li {
                    text-align: center;
                    width: inherit;

                    .img {
                        width: 80px;
                        height: 80px;
                        background: white;
                        margin: auto;
                    }

                    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                        margin-top: 20px;
                    }

                    &.btn_1 {
                        .img {
                            background: url(../../img/ggin_golf/service_menu_1.svg) no-repeat;
                        }
                    }

                    &.btn_2 {
                        .img {
                            background: url(../../img/ggin_golf/service_menu_2.svg) no-repeat;
                        }
                    }

                    &.btn_3 {
                        .img {
                            background: url(../../img/ggin_golf/service_menu_3.svg) no-repeat;
                        }
                    }

                    &.btn_4 {
                        .img {
                            background: url(../../img/ggin_golf/service_menu_4.svg) no-repeat;
                        }
                    }

                    .text {
                        width: inherit;
                        text-align: center;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .main_box_3 {
        display: inline-block;
        position: absolute;
        height: 602px;
        
        top: 0px;
        left: 1216px;

        .img {
            position: relative;
            top: 0px;
            left: 0px;
            width: 404px;
            height: inherit;
            background: url(../../img/ggin_golf/right_img.svg) no-repeat;
        }
    }
}

