/* 전체화면으로 나와야하는 것 */
.wrap-out {
    position: absolute;
    width: 100%;
    
    &.upper {
        width: 100%; height: 100%;
        top: 0px;
        z-index: 9999;
        pointer-events: none;

        .popup {
            width: inherit; height: inherit;
            background: rgba(0, 0, 0, 0.5);
            pointer-events: auto;
            display: block;

            .confirm {
                position: fixed;
                width: 350px; height: 285px;
                top: 260px; left: 40%;
                margin: auto;
                display: none;

                .confirm_inside {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 10px;
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                .inside_box {
                    width: 350px;
                    /*height: 285px;*/

                    .top {
                        width: inherit;
                        /*height: 233px;*/

                        .top_text_set {
                            width: inherit; height: inherit;

                            .title {
                                width: inherit;
                                
                                p {
                                    display: inline-block;
                                    margin: 35px auto 15px 25px;
                                }
                            }

                            .mid_line {
                                width: inherit; height: 1px;
                                background: #BFBFBF 0% 0% no-repeat padding-box;
                            }

                            .text {
                                p {
                                    display: inline-block;
                                    margin: 25px auto 40px 25px;
                                    color: #565656;
                                }
                            }
                        }
                    }
                    .bot {
                        width: inherit; height: 52px;

                        .bot_btn_set {
                            height: inherit;

                            li {
                                float: left;

                                &.btn_cancel {
                                    width: 128px; height: 52px;
                                    background: #A1A1A1 0% 0% no-repeat padding-box;
                                    border-radius: 0px 0px 0px 10px;
                                    display: table;

                                    p {
                                        color: white;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: center;
                                    }
                                }
                                &.btn_confirm {
                                    width: 221px; height: 52px;
                                    background: #092B8D 0% 0% no-repeat padding-box;
                                    border-radius: 0px 0px 10px 0px;
                                    display: table;
                                    margin-left: 1px;

                                    &.type_2 {
                                        width: 350px;
                                        border-radius: 0px 0px 10px 10px;
                                        margin-left: 0px;
                                    }

                                    p {
                                        color: white;
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ex_popup {
                width: 100%; height: 100%;
                display: block;

                li {
                    width: inherit; height: inherit;
                    position: relative;

                    .popup_help {
                        position: fixed;
                        width: 1200px; height: 775px;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        background: white;

                        .ui-top {
                            position: relative;
                            padding: 9px 0px;

                            p {
                                width: 100%;
                                text-align: center;
                            }
                            .btn_close_popup {
                                position: absolute;
                                top: 12px; right: 10px;
                                width: 15px; height: 15px;
                                background: url(../../img/ggin_golf/icon_popup_close.svg) no-repeat;
                            }
                        }

                        .ui-mid {
                            ul {
                                .mid-top {
                                    width: inherit; height: 72px;
                                    background: transparent linear-gradient(267deg, #339FD9 0%, #035AC6 100%) 0% 0% no-repeat padding-box;
                                    padding: 23px 24px 20px 24px;

                                    .left_title {
                                        float: left;
                                        color: white;
                                    }
                                    .right_text {
                                        float: right;

                                        p {
                                            float: left;
                                            color: white;

                                            &.right_title {
                                                position: relative;
                                                top: 4px;
                                            }

                                            &.right_sc_number {
                                                width: 60px; height: 30px;
                                                background: #3D3D3D 0% 0% no-repeat padding-box;
                                                border-radius: 16px;
                                                text-align: center;
                                                margin-left: 7px;
                                            }
                                        }
                                    }
                                }

                                .mid-mid {
                                    height: 663px;
                                    padding: 50px;
                                    overflow-y: scroll;

                                    &::-webkit-scrollbar {
                                        width: 10px;
                                        background: #000;
                                    }
            
                                    &::-webkit-scrollbar-track {
                                        background: #F5F5F5;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background: #B3B3B3;
                                        border-radius: 5px;
                                    }

                                    .top_title {
                                        width: 100%; height: 80px;
                                        background: #F2F2F2 0% 0% no-repeat padding-box;
                                        border: 1px solid #6E6E6E;
                                        border-radius: 5px;
                                        padding: 28px 30px 22px 30px;
                                        margin-bottom: 24px;
                                    }

                                    .mid_title {
                                        padding: 24px 30px 22px 30px;
                                        border-bottom: 1px #CCCCCC solid;

                                        ul {
                                            li {
                                                width: 100%;

                                                &:nth-child(1) {
                                                    margin-bottom: 21px;

                                                    p {
                                                        float: left;

                                                        &:nth-child(2) {
                                                            margin-left: 22px;
                                                        }
                                                    }
                                                }

                                                &:nth-child(2) {
                                                    p {
                                                        float: left;
                                                    }
                                                    .icon_download {
                                                        width: 41px; height: 41px;
                                                        background: url(../../img/ggin_golf/icon_download.svg) no-repeat;
                                                        position: relative;
                                                        top: -7px;
                                                        float: left;
                                                        margin-left: 10px;
                                                    }
                                                    .icon_view {
                                                        width: 41px; height: 41px;
                                                        background: url(../../img/ggin_golf/icon_view.svg) no-repeat;
                                                        position: relative;
                                                        top: -7px;
                                                        float: left;
                                                        margin-left: 3px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .mid_text {
                                        padding: 24px 30px 22px 30px;

                                        .sub_top_title {
                                            margin-bottom: 8px;
                                        }

                                        .ul_tilte {
                                            margin-bottom: 5px;
                                        }

                                        ul {
                                            margin-bottom: 5px;
                                            li {
                                                text-indent: 5px;
                                                margin-bottom: 5px;

                                                &:last-child {
                                                    margin-bottom: 0px;
                                                }

                                                ul {
                                                    margin-top: 5px;
                                                    margin-bottom: 5px;

                                                    li {
                                                        text-indent: 10px;
                                                        margin-bottom: 5px;

                                                        &:last-child {
                                                            margin-bottom: 0px;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .first_block {
                                            margin-bottom: 40px;
                                        }

                                        .second_block {
                                            margin-bottom: 35px;
                                        }

                                        .img_1 {
                                            width: 1049px; height: 1049px;
                                            background: url(../../img/ggin_golf/popup_bottom_img.png) no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .teamSelect{
                        width: 976px;
                        height: 650px;
                        position: fixed;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        background: white;
                        &-head{
                            height: 105px;
                            background: linear-gradient(265deg, #339fd9 , #035ac6);
                            padding: 34px 24px 0 24px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                         
                            .btn_close_popup {
                                position: absolute;
                                display: block;
                                top: 16px;
                                right: 24px;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                background: url(../../img/ggin_golf/icon_close.svg)no-repeat center #3d3d3d;
                                z-index: 1;
                            }
                            img.icon{
                                position: absolute;
                                top: 22px;
                                left: 24px;
                            }
                            &__left{
                               
                                color: #fff;
                                padding-left: 85px;
                            }
                            ul {
                                display: flex;
                                align-items: center;
                                li {
                                    color: #fff;
                                    span {
                                        color: #fff;
            
                                    }
                                }
                                .m-r--7{
                                    margin-right: 7px;
                                }
                                .bar{
                                    &::after{
                                        content:'';
                                        display: inline-block;
                                        width: 1px;
                                        height: 14px;
                                        position: relative;
                                        margin: 0 10px;
                                        background: #b1b1b1;
                                        top: 1px;
                                    }
                                }
                                .help{
                                    border-radius: 30px;
                                    background: #3d3d3d;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 15px;
                                    .num{
                                        line-height: 1.6;
                                        &::after{
                                            content:'';
                                            display: inline-block;
                                            width: 1px;
                                            height: 14px;
                                            position: relative;
                                            margin: 0 7px;
                                            background: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        &-con{
                            padding: 20px 24px;
                            background: #fff;
                            &__search{
                                display: flex;
                                align-items: center;
                                margin-bottom: 27px;
                                select{
                                    width: 290px;
                                    margin-right: 18px;
                                    height: 40px;
                                    border: 1px solid #b1b1b1;
                                    border-radius: 3px;
                                    padding-left: 10px; 
                                }
                                .input-area{
                                    font-size: 0;
                                    margin-left: 6px;
                                    input[type="text"]{
                                        width: 246px;
                                        border-radius: 3px 0 0 3px;
                                    }
                                    input[type="submit"]{
                                        width: 60px;
                                        height: 40px;
                                        border-radius: 0 3px 3px 0;
                                        border: none;
                                        border-top: 1px solid #b1b1b1;
                                        border-right: 1px solid #b1b1b1;
                                        border-bottom: 1px solid #b1b1b1;
                                        background: #f5f5f5;
                                        text-align: center;
                                        padding: 0;
                                    }
                                }
                            }
                            &__scroll{
                                table{
                                    display: block;
                                    thead{
                                        display: block;
                                        tr{
                                            display: block;
                                            th{
                                                text-align: center;
                                                background: #f3f3f3;
                                                font-weight: 400;
                                                padding: 6px 0;
                                                border-top: 1px solid #7e7e7e;
                                                border-right: 1px solid #7e7e7e;
                                                border-bottom: 1px solid #7e7e7e;
                                                &:first-child{
                                                    width: 71px;
                                                    border-left: 1px solid #7e7e7e;
                                                }
                                                &:nth-child(2){
                                                    width: 102px;
                                                }
                                                &:nth-child(3){
                                                    width: 312px;
                                                }
                                                &:nth-child(4){
                                                    width: 110px;
                                                }
                                                &:nth-child(5){
                                                    width: 91px;
                                                }
                                                &:nth-child(6){
                                                    width: 111px;
                                                }
                                                &:nth-child(7){
                                                    width: 129px;
                                                }
                                            }
                                        }

                                    }
                                    tbody{
                                        display: block;
                                        height: 433px;
                                        overflow-y: scroll;
                                        tr{

                                            td{
                                                text-align: center;
                                                border-right: 1px solid #7e7e7e;
                                                padding: 6px 0;
                                                border-bottom: 1px solid #7e7e7e;
                                                &:first-child{
                                                    border-left: 1px solid #7e7e7e;

                                                }
                                                &:last-child{
                                                    border-right: none;
                                                }
                                                button{
                                                    width: 59px;
                                                    height: 30px;
                                                    background: #f5f5f5;
                                                    border: 1px solid #b1b1b1;
                                                    border-radius: 3px;
                                                    font-size: 15px;
                                                }
                                            }
                                            td.t-l{
                                                padding-left: 19px;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.w-73{
    width: 73px;
}
.w-104{
    width: 104px;
}
.w-321{
    width: 321px;
}
.w-320{
    width: 320px;
}
.w-114{
    width: 114px;
}
.w-93{
    width: 93px;
}
.w-114{
    width: 114px;
}
.w-115{
    width: 115px;
}
.t-l{
    text-align: left !important;
}