.top_navi {
    width: 100%;
    height: auto;
    background: white;

    .top.ggin {
        position: relative;
        width: 100%;
        min-width: 1200px;
        top: 0;
        left: 0;
        /*align-items: baseline;
        justify-content: space-between;*/
        padding: 25px 0px 26px 0px;
        z-index: 1;
        margin: auto;

        .top_ul {
            width: inherit;
        }

        .pos_top {
            display: block;
            width: 1200px;
            height: 47px;
            padding: 0px 0px 0px 5px;
            margin: 0px auto 26px auto;

            .pos_top_left {
                float: left;

                li:nth-child(1) {
                    display: block;
                }

                li:nth-child(2) {
                    height: 48px;
                }

                li:nth-child(3) {
                    height: 48px;
                }

                .top_logo {
                    width: 47px;
                    height: 48px;
                    background: url(../../img/federation/golf_logo.svg) no-repeat;
                    float: left;
                }

                .top_bi {
                    width: 138px;
                    height: 48px;
                    margin-left: 12px;
                    float: left;

                    p {
                        font-family: "NotoSans";
                        padding: 5px 0px 6px 0px;
                    }
                }

                .top_left_menu {
                    width: 159px; height: 30px;
                    background: #025AC6 0% 0% no-repeat padding-box;
                    border-radius: 18px;
                    padding: 3px 0px 3px 14px;
                    margin: 11px 0px 0px 0px;

                    &.type_1 {
                        background:url(../../img/ggin_golf/top_select_bg_player.svg) no-repeat;
                    }
                    &.type_2 {
                        background:url(../../img/ggin_golf/top_select_bg_master.svg) no-repeat;
                    }
                    &.type_3 {
                        background:url(../../img/ggin_golf/top_select_bg_referee.svg) no-repeat;
                    }
                    &.type_4 {
                        width: 211px;
                        background:url(../../img/ggin_golf/top_select_bg_manager.svg) no-repeat;
                    }

                    p {
                        color: white;
                        float: left;
                    }

                    /*&.active:after {
                        width: 27px;
                        height: 27px;
                        content:"";
                        background:url(../../img/ggin_golf/arrow_in_round.svg) no-repeat;
                        display: inline-block;
                        position: relative;
                        top: 6px;
                        margin-left: 6px;
                    }

                    &:after {
                        width: 27px;
                        height: 27px;
                        content:"";
                        background:url(../../img/ggin_golf/arrow_in_round.svg) no-repeat;
                        display: inline-block;
                        position: relative;
                        top: 6px;
                        margin-left: 6px;
                    }*/
                }

                .li_line {
                    width: 1px;
                    height: 19px;
                    border-left:#B1B1B1 1px solid;
                    margin: 16px 15px 11px 20px;
                }
            }

            .pos_top_right {
                float: right;
                height: 30px;
                margin: 9px 0px 0px 0px;

                li {
                    height: 30px;
                    line-height: 27px;

                    &.front_line:before {
                        font-weight: 100;
                        margin: 0px 6px 0px 6px;
                        content: "|";
                        position: relative;
                        top: -1px;
                    }

                    &.after_line:after {
                        margin: 0px 12px 0px 12px;
                        content: "|";
                        position: relative;
                        top: -2px;
                    }

                    .pos_top_right_in {
                        .round_box {
                            width: 141px;
                            height: 30px;
                            background: #3D3D3D 0% 0% no-repeat padding-box;
                            border-radius: 16px;
                            margin-left: 6px;
        
                            * {
                                color: white;
                            }

                            ul {
                                width: 100%;
                                height: inherit;
                                padding: 0px 6px;
                            }
                        }
                    }
                }

                
            }
        }

        .pos_top ul li {
            float: left;
        }

        .pos_mid {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #9A9A9A;
        }

        .pos_bottom {
            display: block;
            width: 1200px;
            height: 25px;
            padding: 0px 0px 0px 0px;
            margin: 31px auto 0px auto;

            & * {
                font-family: "NotoSans";
            }

            .pos_bottom_left {
                li {
                    float: left;
                    margin-left: 22px;

                    &:nth-child(1) {
                        margin-left: 0px;
                    }

                    &:hover {
                        color: #025AC6;   
                    }

                    &.btn.active {
                        color: #025AC6;
                        padding-bottom: 21px;
                        border-bottom: 5px solid #025AC6;
                    }
                }
            }

            .pos_bottom_right {
                display: inline-block;
                float: right;

                li {
                    float: left;

                    &:hover {
                        color: #025AC6;   
                    }

                    &.btn.active {
                        color: #025AC6;
                        padding-bottom: 24px;
                        border-bottom: 5px solid #025AC6;
                    }

                    &.line {
                        margin: 0px 10px 0px 10px;
                        position: relative;
                        bottom: 3px;
                    }

                    /*&::before {
                        content: "|";
                        margin: 0px 10px 0px 10px;
                    }*/

                    &:nth-child(1):before {
                        content: none;
                    }

                    &:last-child {
                        width: 68px;
                        height: 25px;
                        background: #F5F5F5 0% 0% no-repeat padding-box;
                        border: 1px solid #B1B1B1;
                        border-radius: 3px;
                        text-align: center;
                        margin-left: 15px;

                        &:hover {
                            color: #3d3d3d;
                        }
                    }

                    /*&:nth-child(4):before {
                        content: none;
                    }*/
                }
            }
        }
    }

    .popup_select {
        position: fixed;
        top: 70px;
        width: 100px; height: 100px;
        margin-left: 100px;
        display: none;

        .top_box {
            width: 457px; height: 16px;
            text-align: center;

            .img {
                display: inline-block;
                width: 25px; height: 16px;
                background:url(../../img/ggin_golf/top_select_box_triangle.svg) no-repeat;
            }
        }

        .bottom_box {
            width: 457px; height: 286px;
            background: #3D3D3D 0% 0% no-repeat padding-box;
            border-radius: 9px;

            >ul {
                width: inherit;

                >li {
                    width: inherit;

                    >ul {
                        width: inherit;

                        >li {
                            width: inherit;
                        }
                    }

                    p {
                        color: white;
                        text-align: center;
                    }
                    
                    &:nth-child(1) {
                        p {
                            color: #71CBFF;
                            text-align: center;
                            margin-top: 21px;
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 18px;
                        padding: 0px 29px 0px 29px;

                        ul {
                            width: 92px; height: 147px;
                            border: 1px solid #6A6A6A;
                            border-radius: 7px;
                            float: left;

                            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                margin-left: 10px;
                            }

                            li {
                                text-align: center;

                                &:nth-child(1) {
                                    height: 82px;
                                }

                                &:nth-child(3) {
                                    margin-top: 7px;
                                }

                                .li_line {
                                    width: 78px; height: 1px;
                                    background: white 0% 0% no-repeat padding-box;
                                    margin: auto;
                                    opacity: 0.3;
                                }
                            }

                            p {
                                color: white;
                            }

                            .img_table {
                                position: relative;
                                width: inherit; height: 82px;

                                .img {
                                    position: absolute;
                                    top: 50%; left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            &.select_1 {
                                &:hover {
                                    background: #025AC6 0% 0% no-repeat padding-box;
                                    border-color: #025AC6;
                                }

                                .img {
                                    width: 52px; height: 52px;
                                    background:url(../../img/ggin_golf/top_select_img_1.svg) no-repeat;
                                }
                            }
                            &.select_2 {
                                &:hover {
                                    background: #0283C6 0% 0% no-repeat padding-box;
                                    border-color: #0283C6;
                                }

                                .img {
                                    width: 42px; height: 50px;
                                    background:url(../../img/ggin_golf/top_select_img_2.svg) no-repeat;
                                }
                            }
                            &.select_3 {
                                &:hover {
                                    background: #029EC6 0% 0% no-repeat padding-box;
                                    border-color: #029EC6;
                                }

                                .img {
                                    width: 52px; height: 50px;
                                    background:url(../../img/ggin_golf/top_select_img_3.svg) no-repeat;
                                }
                            }
                            &.select_4 {
                                &:hover {
                                    background: #16B7AC 0% 0% no-repeat padding-box;
                                    border-color: #16B7AC;
                                }

                                .img {
                                    width: 56px; height: 48px;
                                    background:url(../../img/ggin_golf/top_select_img_4.svg) no-repeat;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        p {
                            margin-top: 16px;
                        }
                    }
                }
            }

            .btn_close {
                position: absolute;
                width: 20px; height: 20px;
                left: 410px;
                color: white;
                margin-top: 29px;
                background:url(../../img/ggin_golf/top_btn_close.svg) no-repeat;
                background-position: center;
            }
        }
    }
}