/* 이적 신청 */
.sub {
    width: 100%;
    height: auto;
    background: #F2F4F7;
    border-top: 2px solid #025AC6;

    .sub_box {
        width: 1200px;
        height: auto;
        margin: 49px auto 0px auto;
        display: table;

        .sub_ul {
            width: inherit;
            height: inherit;

            .sub-wrap.type-rfloat {
                width: 955px;
                padding: 35px 40px;

                h2 {
                    margin-bottom: 14px;
                }

                .chHistory {
                    &-item {
                        border: 1px solid #cccccc;
                        padding: 30px;
                        position: relative;
                        width: 100%;
                        border-radius: 5px;
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .r-btn {
                            position: absolute;
                            right: 14px;
                            display: flex;
                            flex-direction: column;
                            top: 50%;
                            transform: translateY(-50%);

                            button {
                                border-radius: 3px;
                                border: 1px solid #b1b1b1;
                                background: #f5f5f5;
                                width: 59px;
                                height: 40px;
                                text-align: center;
                                line-height: 40px;
                                margin-bottom: 7px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .line {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-bottom: 13px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            dl {
                                display: inline-flex;

                                &::after {
                                    content: '';
                                    display: block;
                                    position: relative;
                                    width: 1px;
                                    height: 15px;
                                    background: #b1b1b1;
                                    margin: 0 20px;
                                    top: 5px;
                                }

                                &:last-child {
                                    &::after {
                                        content: none;
                                    }
                                }

                                dt {
                                    margin-right: 15px;
                                }

                                dd {}
                            }
                        }
                    }
                }
            }

            li {
                height: inherit;
                float: left;

                .sub_frame {
                    .top {
                        height: 37px;
                        margin-bottom: 15px;
                    }
                }

                &.hide {
                    display: none;
                }

                &.sub_left {
                    width: 0px;
                }

                &.sub_right {
                    width: 230px;
                    margin-left: 15px;

                    .sub_frame {
                        width: inherit;

                        li {
                            width: inherit;
                        }

                        .top {}

                        .mid {
                            background: white;
                            border: 1px solid #DCE1EB;

                            .mid_item {
                                width: inherit;

                                >li {
                                    height: auto;

                                    &.li_info {
                                        padding: 25px 0px 51px 27px;
                                        padding-bottom: 110px;

                                        .title {
                                            color: #3D3D3D;
                                            margin-bottom: 31px;
                                        }

                                        .title_img {
                                            width: 41px;
                                            height: 41px;
                                            background: url(../../img/ggin_golf/icon_question_box.svg) no-repeat;
                                            margin-bottom: 13px;
                                        }

                                        ul {
                                            width: inherit;

                                            li {

                                                &.item {
                                                    width: 220px;
                                                    margin-bottom: 26px;

                                                    &:only-child() p {
                                                        margin-top: 16px;
                                                    }

                                                    &:nth-child(1) p {
                                                        margin-top: 0px;
                                                    }

                                                    p {
                                                        width: auto;
                                                        color: #3D3D3D;

                                                        &::before {
                                                            content: "";
                                                            background: url(../../img/ggin_golf/item_circle_gray.svg) no-repeat;
                                                            display: inline-block;
                                                            font-size: 20px;
                                                            margin-right: 7px;
                                                            width: 7px;
                                                            height: 7px;
                                                            transform: translate(0px, -2px);
                                                        }
                                                    }

                                                    &.active {
                                                        p {
                                                            color: #035AC6;

                                                            &::before {
                                                                background: url(../../img/ggin_golf/item_circle_blue.svg) no-repeat;
                                                            }
                                                        }
                                                    }

                                                    &.chain {
                                                        &::before {
                                                            content: "";
                                                            background: #9A9A9A;
                                                            width: 1px;
                                                            height: 43px;
                                                            transform: translate(3px, -33px);
                                                            position: absolute;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .btn_set {
                                    li {
                                        width: 114px;
                                        height: 60px;
                                        text-align: center;
                                        background: #03A5C6;
                                        display: table;

                                        p {
                                            color: white;
                                            display: table-cell;
                                            text-align: center;
                                            vertical-align: middle;
                                        }

                                        &.btn_gray {
                                            background: #A7A7A7;
                                        }

                                        &:nth-child(1) {}

                                        &:nth-child(2) {
                                            margin-left: 1px;
                                            border-right: 1px solid #DCE1EB;
                                        }
                                    }
                                }

                                .info_phone {
                                    width: inherit;
                                    height: auto;
                                    background: #F6F6F6;

                                    li {
                                        width: 228px;
                                        height: 90px;
                                        background: #F6F6F6;
                                        border-bottom: 1px solid #DCE1EB;
                                        text-align: center;
                                        display: table;

                                        &.phone_1 {

                                            .div_table {
                                                width: inherit;
                                                height: inherit;
                                                display: table;
                                            }

                                            .img {
                                                width: 185px;
                                                height: 51px;
                                                background: url(../../img/ggin_golf/sub_right_btn_1.svg) no-repeat;
                                                margin: 20px auto auto auto;
                                            }
                                        }

                                        &.phone_2 {

                                            .img {
                                                width: 183px;
                                                height: 64px;
                                                background: url(../../img/ggin_golf/sub_right_btn_2.svg) no-repeat;
                                                margin: 12px auto auto auto;
                                            }
                                        }
                                    }
                                }

                                .li_bot {
                                    width: inherit;
                                    text-align: center;

                                    .btn_top {
                                        display: inline-block;
                                        width: 52px;
                                        height: 80px;
                                        background: url(../../img/ggin_golf/btn_top.svg) no-repeat;
                                    }
                                }
                            }
                        }
                    }

                    &.outline {
                        width: 230px;
                        background: lightcoral;
                    }
                }
            }
        }
    }
}

#apply_athletics {
    width: 265px;
    height: 40px;
    padding: 8px 10px 8px 10px;
}

#team_code {
    width: 149px;
    height: 40px;
    padding: 8px 10px 8px 10px;
}

#team_name {
    width: 309px;
    height: 40px;
    padding: 8px 10px 8px 10px;
}

#team_search {
    width: 107px;
    height: 40px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}

#in_date {
    width: 265px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
}

#select_athletics {
    width: 265px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
}

#select_grade {
    width: 265px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
}

#transfer_reason {
    width: 265px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
}

#agreement_search {
    width: 137px;
    height: 40px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}

#agreement_delete {
    width: 137px;
    height: 40px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}

#agreement_download {
    width: 199px;
    height: 40px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}

#zipcode {
    width: 138px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
}

#search_zipcode {
    width: 122px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
    margin-left: 5px;
}

#address_1 {
    width: 885px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
    margin-top: 10px;
}

#address_2 {
    width: 885px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    text-align: left;
    margin-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

// 신청서 출력
.golf-print {

    .sub-wrap.print {
        padding: 0 !important;
        height: 617px !important;

        .tit-area {
            padding: 63px 0 21px 116px;
            border-bottom: 1px solid #dce1eb;
        }

        .con-area {
            padding: 0 0 0 116px;
            background: url(../../img/ggin_golf/print_illu.png)no-repeat top 48px right 100px;

            strong {
                display: block;
                margin-bottom: 9px;
            }

            &__top {
                width: 320px;
                border-bottom: 1px solid #dce1eb;
                padding: 19px 0 17px 0;

                dl {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 7px;

                    dt {
                        width: 60px;
                        margin-right: 30px;
                    }

                    dd {
                        font-weight: 500;
                    }
                }
            }

            &__foot {
                width: 320px;
                padding-top: 18px;
                margin-bottom: 50px;

                .checkbox-area {
                    margin-bottom: 10px;
                }

            }

            .btn-print {
                width: 100px;
                height: 50px;
                color: #fff;
                line-height: 50px;
                background: #3d3d3d;
            }
        }
    }
    .sub_right{
        .li_info{
            padding: 73px 24px !important;
            height: 435px !important;
            background: url(../../img/ggin_golf/right_speech.svg)no-repeat 23px 23px;
        }
    }

}


.b-b--none {
    border-bottom: none !important;
}