//교육이력
.container-inner {
    &-education {
        padding-top: 76px;
        padding-bottom: 235px;

        .education-header {
            h2 {
                margin-bottom: 5px;
            }

            margin-bottom: 25px;

            span {
                color: #717171;
            }
        }

        .education-content {
            display: flex;
            text-align: center;
            h2 {
               
                font-size: 21px;
                margin-bottom: 5px
            }
            span {
                color: #717171;
            }

            &__left {
                min-width: 590px;
                height: 136px;
                border: 1px solid #acacac;
                border-radius: 10px;
                padding: 42px 189px 35px;
                margin-right: 22px;
            }

            &__right {
                .right-upper {
                    min-width: 590px;
                    height: 136px;
                    border: 1px solid #acacac;
                    border-radius: 10px;
                    padding: 42px 189px 35px;
                }

                .right-lower {
                    margin-top: 10px;
                }
            }
        }
    }

}

//증명서 발급신청
.container-inner-contents{
    h3{
        font-weight: 400;
        font-size: 18px;
    }
    .content-border{
        color: #bebebe;
        margin-top: 20px;
    }
    .certification-content{
        text-align: center;
        padding-top: 133px;
        padding-bottom: 218px;
    }
    
}

.mt-30{
    margin-top: 30px;
}




