// 타임라인, 게시판 스타일 3type 작업

%flex-common {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-common__type2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


// 내 생애주기
.container.cycle {
    .container-inner {
        padding-top: 62px;

        .info {
            padding-bottom: 64px;
            border-bottom: 1px solid #BEBEBE;

            h2 {
                font-weight: bold;
                margin-bottom: 32px;
            }

            &-con {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                &__photo {
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 63px;

                    .img {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .issue {
                        background: #f1f1f1;
                        border: 1px solid #929292;
                        border-radius: 40px;
                        width: 167px;
                        padding: 6px 0 6px 0;
                        margin: 46px auto 0;
                    }

                }

                &__detail {
                    width: calc(100% - 263px);
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    .icon-wrap {
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        flex-direction: column;

                        i {
                            margin-bottom: 13px;
                            cursor: pointer;
                        }

                        .user {
                            position: relative;

                            .icon-user {
                                width: 50px;
                                height: 50px;
                                background: url(../../img/common/user.svg) no-repeat center/100%;
                                display: inline-block;
                            }
                            &-pop {
                                position: absolute;
                                background: #3d3d3d;
                                width: 235px;
                                padding: 23px 25px;
                                border-radius: 10px;
                                bottom: 78px;
                                left: 50%;
                                transform: translateX(-50%);
                                display: none;
                                &__tit {
                                    border-bottom: 1px solid #a1a1a1;
                                    padding-bottom: 15px;
                                    span {
                                        color: #fff;
                                        font-size: 18px;
                                        font-weight: 500;
                                        display: block;
                                        margin-bottom: 7px;
                                    }
                                    p {
                                        color: #fff;
                                        font-size: 15px;
                                        line-height: 1.33;
                                    }
                                }

                                &__con {
                                    border-bottom: 1px solid #a1a1a1;
                                    padding: 15px 0;
                                    .formInput-radio {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        input{
                                        }
                                        label {
                                            color: #fff;
                                            line-height: 25px;
                                            padding-left: 32px;
                                            cursor: pointer;
                                            &::before{
                                                border-radius: 100%;
                                                background: url('../../img/common/check-round.svg')no-repeat center #8d8d8d;
                                                border: 1px solid #8d8d8d;
                                                width: 27px;
                                                height: 27px;
                                            }
                                        }
                                        label.is_active{
                                            &::before{
                                            background-color: #df3818;
                                            border-color: #df3818;
                                            }
                                        }
                                    }
                                    .date{
                                        background: #e4e4e4;
                                        height: 37px;
                                        line-height: 37px;
                                        font-size: 15px;
                                        font-weight: 500;
                                        font-family: 'roboto',sans-serif;
                                        border-radius: 5px;
                                        text-align: center;
                                        margin-top: 10px;
                                        
                                    }

                                }

                                &__foot {
                                    text-align: right;
                                    padding-top: 7px;
                                    position: relative;
                                    &::after{
                                        content:'';
                                        display: inline-block;
                                        width: 22px;
                                        height: 22px;
                                        background: #3d3d3d;
                                        position: absolute;
                                        bottom: -33px;
                                        left: 50%;
                                        transform: translateX(-50%)rotate(45deg);

                                    }
                                    button{
                                      color: #fff;  
                                      font-size: 15px;
                                    }
                                }
                            }
                        }
                    }

                    h3 {
                        margin-bottom: 14px;

                    }

                    &--left {
                        float: left;
                        width: 50%;

                        dl {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-bottom: 12px;

                            dt {
                                width: 76px;
                                font-weight: 300;
                                margin-right: 15px;
                            }
                        }
                    }

                    &--right {
                        float: left;
                        width: 50%;

                        dl {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-bottom: 12px;

                            dt {
                                width: 123px;
                                margin-right: 30px;
                                font-weight: 300;

                            }
                        }
                    }
                }
            }
        }

        .timeLine {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 70px 0 105px;

            i {
                margin-right: 15px;
            }

            dl {
                dd {
                    color: #717171;
                }
            }
        }

        .contents {
            position: relative;
            margin-bottom: 226px;
            border-top: 1px solid #929292;

            .go-more {
                position: absolute;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: #3D3D3D;
                @extend %flex-common__type2;
                left: 50%;
                transform: translateX(-50%);
                bottom: -165px;
                cursor: pointer;

            }

            .history {
                border-bottom: 1px dashed #929292;
                position: relative;

                &-circle {
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                    padding: 5px;
                    border: 1px solid #929292;
                    position: absolute;
                    background: #fff;
                    z-index: 1;

                    &--inner {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        background: #3D3D3D;
                        color: #fff;
                        text-align: center;
                        line-height: 100px;

                    }

                    &__top {
                        left: 50%;
                        top: 0;
                        transform: translate(-50%, -50%);
                    }

                    &__bottom {
                        left: 50%;
                        bottom: 0;
                        transform: translate(-50%, 50%);
                    }
                }



                &-con {
                    >ul {
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding: 80px 0 125px;

                        .center-bar {
                            position: absolute;
                            display: inline-block;
                            width: 3px;
                            background: #3D3D3D;
                            height: 100px;
                            left: 50%;
                            top: 0;
                            transform: translateX(-50%);
                        }

                        >li {
                            width: 50%;

                            .item {
                                margin-bottom: 64px;

                                &-list {
                                    display: flex;
                                    flex-direction: column;

                                    &__ch {
                                        margin-bottom: 24px;

                                        h5 {
                                            position: relative;
                                            margin-bottom: 6px;

                                            &::after {
                                                content: '';
                                                display: block;
                                                width: 9px;
                                                height: 9px;
                                                border-radius: 50%;
                                                background: #a1a1a1;
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }

                                        .line {
                                            display: block;
                                            line-height: 30px;

                                            span {
                                                color: #717171;

                                                &::after {
                                                    content: '/';
                                                    display: inline-block;
                                                    position: relative;
                                                    margin: 0 10px 0 11px;
                                                }

                                                &:last-child {
                                                    &::after {
                                                        content: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .item-tit {
                            margin-bottom: 23px;
                            position: relative;
                            display: inline-block;

                            span {
                                color: #fff;
                                padding: 6px 20px 6px 20px;
                                border-radius: 22px;
                                position: relative;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                        }

                        .history-con__left {
                            display: flex;
                            flex-direction: column;
                            text-align: right;
                            padding-right: 64px;

                            .item {
                                position: relative;

                                &-bar {
                                    position: absolute;
                                    background: #a1a1a1;
                                    width: 1px;
                                    right: 0;
                                    top: 13px;
                                }

                                &-tit {
                                    right: 23px;

                                    &::before {
                                        content: '';
                                        display: block;
                                        width: 9px;
                                        height: 9px;
                                        border-radius: 50%;
                                        background: #3d3d3d;
                                        position: absolute;
                                        right: -27px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 64px;
                                        height: 3px;
                                        position: absolute;
                                        right: -87px;
                                        background: #3d3d3d;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    span {

                                        &::after {
                                            right: -13px;
                                            border-top: 7px solid transparent;
                                            border-bottom: 7px solid transparent;
                                        }
                                    }

                                    .blue {
                                        &::after {
                                            border-left: 16px solid #006dbc;
                                        }
                                    }

                                    .red {
                                        &::after {
                                            border-left: 16px solid #e30826;
                                        }
                                    }

                                    .yellow {
                                        &::after {
                                            border-left: 16px solid #ffbb00;
                                        }
                                    }
                                }

                                &-list {
                                    padding-right: 19px;

                                    &__ch {
                                        h5 {
                                            &::after {
                                                right: -23px;
                                            }
                                        }

                                        .line {
                                            display: block;

                                            span {}
                                        }

                                        .media {
                                            padding-right: 46px;
                                            margin-top: 5px;

                                            h5 {
                                                margin-bottom: 10px;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    width: 50px;
                                                    height: 1px;
                                                    background: #a1a1a1;
                                                    position: absolute;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    right: -65px;

                                                }
                                            }

                                            ul {
                                                display: flex;
                                                justify-content: flex-end;

                                                li {
                                                    margin-left: 10px;
                                                }

                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .history-con__right {
                            padding-left: 64px;

                            .item {
                                position: relative;

                                &-bar {
                                    position: absolute;
                                    background: #a1a1a1;
                                    width: 1px;
                                    left: 0;
                                    top: 15px;
                                }

                                &-tit {
                                    left: 23px;

                                    &::before {
                                        content: '';
                                        display: block;
                                        width: 9px;
                                        height: 9px;
                                        border-radius: 50%;
                                        background: #3d3d3d;
                                        position: absolute;
                                        left: -27px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    &::after {
                                        content: '';
                                        display: block;
                                        width: 64px;
                                        height: 3px;
                                        position: absolute;
                                        left: -87px;
                                        background: #3d3d3d;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    span {

                                        &::after {
                                            left: -13px;
                                            border-top: 7px solid transparent;
                                            border-bottom: 7px solid transparent;
                                        }
                                    }

                                    .green {
                                        &::after {
                                            border-right: 16px solid #92bb28;
                                        }
                                    }
                                }

                                &-list {
                                    padding-left: 19px;

                                    &__ch {
                                        h5 {
                                            &::after {
                                                left: -23px;
                                            }
                                        }

                                        .line {
                                            span {}

                                            .media {
                                                padding-left: 46px;
                                                margin-top: 5px;

                                                h5 {
                                                    margin-bottom: 10px;
                                                    position: relative;

                                                    &::before {
                                                        content: '';
                                                        display: block;
                                                        width: 50px;
                                                        height: 1px;
                                                        background: #a1a1a1;
                                                        position: absolute;
                                                        top: 50%;
                                                        transform: translateY(-50%);
                                                        left: -65px;

                                                    }
                                                }

                                                ul {
                                                    display: flex;
                                                    align-items: center;

                                                    li {
                                                        margin-right: 10px;
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .state {
            margin-bottom: 70px;

            &-top {
                margin-bottom: 25px;

                h3 {
                    margin-bottom: 3px;
                }

                p {
                    color: #717171;
                }
            }

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    width: 50%;

                    &:first-child {
                        margin-right: 22px;
                    }

                    .state-item {
                        border: 1px solid #acacac;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        height: 136px;

                        a {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;

                        }

                        h3 {
                            margin-bottom: 5px;
                        }

                        p {
                            color: #717171;
                        }
                    }

                    .sub-tit {
                        color: #717171;
                        text-align: center;
                        margin-top: 11px;
                    }
                }
            }
        }

        .service {
            &-top {
                margin-bottom: 25px;

                h3 {
                    margin-bottom: 5px;
                }

                p {
                    line-height: 27px;
                    color: #717171;
                }
            }

            &-list {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .service-list__item {
                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            >div {
                                background: #F5F5F5;
                                box-shadow: 5px 5px 10px #00000012;

                                &::after {
                                    border: 2px solid #3D3D3D;
                                }
                            }
                        }

                        >div {
                            width: 280px;
                            border-radius: 10px;
                            height: 364px;
                            margin-right: 24px;
                            box-sizing: border-box;
                            cursor: pointer;
                            position: relative;
                            transition: all 0.2s;

                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                border: 1px solid #acacac;
                                top: 0;
                                left: 0;
                            }

                            strong {
                                display: block;
                                text-align: center;
                                padding-top: 43px;
                                height: 136px;
                            }

                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 46px;
                                height: 75px;
                            }

                            p {
                                padding: 0 34px;
                                color: #717171;
                            }
                        }

                        .list-tit {
                            display: block;
                            text-align: center;
                            margin-top: 15px;
                            color: #3D3D3D;
                        }
                    }
                }
            }

            &-em {
                padding-bottom: 137px;
                margin-top: 100px;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                h3 {
                    margin-bottom: 36px;
                }

                .tit-area {
                    @extend %flex-common;

                    .line {
                        display: inline-block;
                        height: 1px;
                        background: #3D3D3D;
                    }
                }

                &__left {
                    float: left;
                    width: calc(50% - 13px);
                    margin-right: 74px;

                    .tit-area {
                        .line {
                            width: 360px;
                        }
                    }

                    .emInfo {
                        padding-top: 20px;
                        height: 452px;

                        &-item {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-bottom: 25px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .date {
                                width: 60px;
                                height: 60px;
                                border: 1px solid #ACACAC;
                                border-radius: 6px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin-right: 14px;

                                .dday {
                                    width: 100%;
                                    text-align: center;
                                    border-bottom: 1px solid #acacac;
                                    color: #717171;
                                    height: 23px;
                                }

                                strong {}
                            }

                            dl {
                                dt {
                                    margin-bottom: 5px;
                                }

                                dd {
                                    color: #717171;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                &__right {
                    float: left;
                    width: calc(50% - 63px);

                    .tit-area {
                        .line {
                            width: 376px;
                        }
                    }

                    ul {
                        height: 452px;
                        padding-top: 24px;
                        box-sizing: border-box;

                        li {
                            margin-bottom: 27px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }


                }

                .foot {
                    border-top: 1px solid #A1A1A1;
                    padding-top: 28px;

                    .btn-more {
                        width: 45px;
                        background: url('../../img/main/sche_more.svg')no-repeat;
                        background-position: 9px top;
                        font-size: 15px;
                        margin: 0 auto;
                        padding-top: 25px;
                        position: relative;

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}


.add-file {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    button {
        width: 40px;
        height: 40px;
        border: 1px solid #BCBCBC;
        border-radius: 50%;
        @extend %flex-common__type2;
        margin: 0 2.5px;
        background: #fff;
    }
}


.w-127 {
    width: 127px;
}

.w-154 {
    width: 154px;
}

.w-288 {
    width: 288px;
}

.w-127 {
    width: 127px;
}

.w-1091 {
    width: 1091px;
}

.clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.b-none {
    border: none !important;
}

.blue {
    background: #006dbc;
}

.red {
    background: #e30826;
}

.yellow {
    background: #ffbb00;
}

.green {
    background: #92bb28;
}