@import "./var";

// mixin 
// 
%linkBox{
    display:block; 
    width: 100%; 
    height: 100%;
}
%backCenter{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}
%positionCenter{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

%textHidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
%inputBox{
    height:40px;
    padding:0px 10px 0 7px;
    border:1px solid $gray2;
    border-radius: 3px;
    font-size:16px;
}

%seleciconBox{
    height:35px;
    padding:0 20px 0 10px;
    border:1px solid $gray2;
    border-radius: 3px;
    font-size:15px;
    &:hover{
        border-color: $black;
        color:$black;
    }
    &:focus{
        border-color:$blue2;
    }
}

%arrow--s{
    &:after{
        content:" ";
        display: block;
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        right:10px;
        width:12px;
        height:8px;
        background: url('../img/common/arrow-s.svg') no-repeat;
    }
    &.is_active{
        &:after{
            background-image: url('../img/common/arrow-s-active.svg');
        }
    }
}

// font
%font{
    &-roboto{
        font-family: 'roboto','Malgun Gothic',sans-serif;
    }
    &-l{
        font-weight: 100;
    }
    &-s{
        font-weight: 300;
    }
    &-r{
        font-weight: 400;
    }
    &-m{
        font-weight: 500;
    }
    &-b{
        font-weight: 700;
    }
    &-eb{
        font-weight: 900;
    }
    &-40{
        font-size:40px
    }
    &-35{
        font-size:35px
    }
    &-30{
        font-size:30px
    }
    &-29{
        font-size:29px
    }
    &-27{
        font-size:27px
    }
    &-25{
        font-size:25px
    }
    &-23{
        font-size:23px;
    }
    &-22{
        font-size:22px;
    }
    &-21{
        font-size:21px;
    }
    &-20{
        font-size:20px;
    }
    &-19{
        font-size:19px;
    }
    &-18{
        font-size:18px;
    }
    &-17{
        font-size:17px;
    }
    &-16{
        font-size:16px;
    }
    &-15{
        font-size:15px;
    }
    &-14{
        font-size:14px;
    }
    &-13{
        font-size:13px;
    }
    &-12{
        font-size:12px;
    }
}

// border-bot
%board-box{
    border:1px solid #c7c7c7;
    border-radius: 20px;
    background-color: $white;
}

// color
@mixin gradient($deg:90deg){
    background-image:linear-gradient($deg, rgba(22,65,148,1) 0%, rgba(54,186,198,1) 100%);
}
    

