// var.scss

// color - input
// $gray1:#7c7c7c;
// $gray2:#919191;
// $gray3:#A0A0A0;
// $gray4:#c4c4c4;
// $gray5:#c4c4c4;
// $gray6:#c4c4c4;
// $gray7:#c4c4c4;

$white: #fff;
$black:#3d3d3d;
$bg_white : #F3F3F3;
$bg_black:#040404;
$bg_orange:#FFF6F6;
$primary: #164194;
$lightgray:#f1f1f1;//
$lightblue:#F4F6FB;
$blueborder:#AFBABE;

$input_gray : #BEBEBE;
// $input_gray2 : #B1B1B1;
$input_gray3 : #959595;
$input_gray4 : #E4E8EB;
$input_gray5 : #707070;
$input_gray6 : #BCBCBC;
$input_orange : #EB8423;//
$blue1 : #0E4194;//
$blue2:#224B9E; //
$mintblue: #2CA0AF;//
$skyblue: #00A4BA;//
$yellow: #feed00;
$red:#FF0023;//
$gray1:#4D4D4D;//
$gray2:#B1B1B1;//
$gray3:#ECECEC;//
$gray4:#F2F4F7;//
$gray5:#F5F5F5;//
$gray6:#F8F8F8;//








// font
.font{
    &-l{
        font-weight: 100;
    }
    &-s{
        font-weight: 300;
    }
    &-r{
        font-weight: 400;
    }
    &-m{
        font-weight: 500;
    }
    &-b{
        font-weight: 700;
    }
    &-eb{
        font-weight: 900;
    }
    &-43{
        font-size:43px;
    }
    &-42{
        font-size:42px;
    }
    &-41{
        font-size:41px;
    }
    &-40{
        font-size:40px
    }
    &-35{
        font-size:35px
    }
    &-30{
        font-size:30px
    }
    &-29{
        font-size:29px
    }
    &-27{
        font-size:27px
    }
    &-25{
        font-size:25px
    }
    &-23{
        font-size:23px;
    }
    &-22{
        font-size:22px;
    }
    &-21{
        font-size:21px;
    }
    &-20{
        font-size:20px;
    }
    &-19{
        font-size:19px;
    }
    &-18{
        font-size:18px;
    }
    &-17{
        font-size:17px;
    }
    &-16{
        font-size:16px;
    }
    &-15{
        font-size:15px;
    }
    &-14{
        font-size:14px;
    }
    &-13{
        font-size:13px;
    }
    &-12{
        font-size:12px;
    }
}
