@import '_var.scss';
@import '_mixin.scss';
@import 'icon.scss';
@import 'global.scss';

//  main,sub header - common style 
.wrap {
    .header {
        position: fixed;
        width: 100%;
        z-index: 2;

        .fixed-top {
            width: 100%;
            min-width: 1200px;
            top: 0;
            left: 0;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding: 25px 40px 0 40px;
            transition: all .2s;
            background: #fff;
            border-bottom: 1px solid #bebebe;

            &__left {
                position: relative;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .logo {
                    width: 203px;
                    height: 67px;
                    transition: all .2s;
                    background: url('../img/main/logo_color.svg')no-repeat center;


                }

            }

            &__mid {
                display: flex;

                li {
                    position: relative;
                    margin: 0 13px;

                    a {
                        font-size: 17px;
                        color: #3d3d3d;
                        font-weight: 400;
                        transition: all .2s;
                        display: block;
                        padding-bottom: 22px;
                        white-space: pre;
                    }

                }

            }

            &__right {
                display: flex;
                align-items: center;
                position: relative;

                .join {
                    position: absolute;
                    right: 0px;
                    top: -53px;
                    width: 115px;
                    display: flex;

                    li {
                        a {
                            font-size: 15px;
                            transition: all .2s;
                            color: #3d3d3d;

                        }
                        &:first-child{
                            margin-right: 18px;
                        }
                    }

                 
                }

                i {
                    width: 24px;
                    height: 25px;
                    cursor: pointer;
                    display: block;
                }

                .search {
                    background: url('../img/main/search_black.svg')no-repeat center;
                    margin-right: 20px;
                    background-position: 0 2px;
                    background-size: 100%;
                }

                .menu {
                    background: url('../img/main/menu_color.svg')no-repeat center;
                    background-size: 100% 100%;
                }

            }
        }
    }
}

// 스포츠지원포털 서브페이지 공통 레이아웃
.wrap.ssp-sub {
    .header {
        position: static;

        .fixed-top {
            border-bottom: none;
        }
    }

    .fixed-top {
        &__mid {
            margin-right: 115px;

            li.is_active {
                a {
                    color: #095ECE;
                    font-weight: 500;
                    white-space: pre;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    background: #095ECE;
                    width: 100%;
                }

            }
        }
    }

    .nav {
        height: 60px;
        background: linear-gradient(270deg, #339FD9, #2B80CB);
        min-width: 1200px;
        position: relative;

        &-inner {
            min-width: 1200px;
            width: 1200px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .home {
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 24px;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-weight: 300;
                }
            }

            .menu {
                padding: 0 23px;
                border-right: 1px solid #fff;
                height: 100%;
                display: flex;
                align-items: center;
                color: #fff;
                width: 190px;
                background: url(../img/common/nav_arrow_w.svg)no-repeat center;
                background-size: 12px 8px;
                background-position: right 23px center;
                cursor: pointer;

            }

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 15px;

                li {
                    padding: 0 15px;

                    a {
                        color: #fff;
                        display: block;
                        height: 100%;
                        line-height: 60px;
                        font-weight: 300;
                    }
                }

                li.is_active {
                    a {
                        font-weight: 500;
                    }

                }
            }
        }

        &-drop {
            height: 43px;
            &--item:not(.no-item) {
                background: #339fd9;
                position: absolute;
                top: 100%;
                width: 100%;
                display: none;
                border-top: 1px solid #57b7eb;
                
                ul {
                    width: 1200px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 283px;

                    li {
                        height: 100%;
                        position: relative;
                        margin-right: 30px;
                        &:hover{
    
                            &::after {
                                content: '';
                                background: #fff;
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                bottom: 2px;
                                left: 0;
                                bottom: 0;
                            }
                        }

                        a {
                            color: #fff;
                            font-weight: 400;
                            display: block;
                            height: 100%;
                            line-height: 43px;
                        }
                    }
                }
            }
        }
    }

    .ssp-banner {
        height: 300px;
        width: 100%;
        min-width: 1200px;

        .inner {
            width: 1200px;
            margin: 0 auto;
            padding: 72px 0 35px;
            height: 100%;

            h1 {
                color: #fff;
            }

            p {
                color: #fff;
                margin-bottom: 80px;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    font-size: 15px;
                    color: #fff;
                    margin-right: 30px;
                    position: relative;

                    &::after {
                        content: '>';
                        display: block;
                        position: absolute;
                        right: -20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:last-child {
                        &::after {
                            content: none;
                        }

                    }
                }
            }
        }
    }

    .ssp-banner.mycycle {
        background: url(../img/ssp/banner_1.png)no-repeat center;
    }

    .ssp-banner.registration {
        background: url(../img/ssp/banner_2.png)no-repeat center;
    }


    .footer {
        border-top: none;
        background: #f2f7f9;
        border-top: 1px solid #9dadbb;

    }



}

// main - footer
.sports-main {

    .guide {
        &-foot {
            padding-top: 38px;

            &__info {
                display: flex;
                align-items: flex-start;

                &--left {
                    position: relative;
                    margin-right: 20px;

                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        width: 165px;
                    }
                }

                &--right {
                    padding-top: 16px;

                    ul {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        li {
                            a {
                                font-size: 15px;

                            }

                            &:nth-child(2) {
                                padding: 0 15px;
                                position: relative;

                                &::before,
                                &::after {
                                    content: '|';
                                    display: block;
                                    position: absolute;
                                    font-size: 13px;
                                    top: 46%;
                                    transform: translateY(-50%);
                                }

                                &::before {
                                    left: 0;
                                }

                                &::after {
                                    right: 0;

                                }
                            }

                            &:last-child {
                                margin-left: 15px;
                            }
                        }

                        li.strong {
                            margin-right: 15px;

                            a {
                                font-weight: bold;
                                color: #307fd9;
                            }
                        }
                    }

                    span {
                        display: block;
                        margin-bottom: 13px;
                        font-size: 15px;

                    }
                }
            }

            &__sponsor {
                &--logo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    ul {
                        display: flex;
                        padding: 37px 0 12px 0;
                        align-items: center;

                        li {
                            margin-right: 25px;
                            position: relative;

                            a {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    span {
                        display: inline-block;
                        width: 91px;
                        height: 66px;
                        background: url(../img/main/guide_wa.svg)no-repeat center;
                        position: relative;

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}



// sub foot
.footer {
    width: 100%;
    background: #f8f8f8;
    border-top: 2px solid #3d3d3d;
    min-width: 1200px;

    &-inner {
        width: 1200px;
        margin: 0 auto;
        padding: 47px 0 85px 0;

        &__info {
            display: flex;
            align-items: flex-start;

            &--left {
                position: relative;
                margin-right: 20px;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 165px;
                }
            }

            &--right {
                padding-top: 16px;

                ul {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    li {
                        a {
                            font-size: 15px;

                        }

                        &:nth-child(2) {
                            padding: 0 15px;
                            position: relative;

                            &::before,
                            &::after {
                                content: '|';
                                display: block;
                                position: absolute;
                                font-size: 13px;
                                top: 46%;
                                transform: translateY(-50%);
                            }

                            &::before {
                                left: 0;
                            }

                            &::after {
                                right: 0;

                            }
                        }

                        &:last-child {
                            margin-left: 15px;
                        }
                    }

                    li.strong {
                        margin-right: 15px;

                        a {
                            font-weight: bold;
                            color: #307fd9;
                        }
                    }
                }

                span {
                    display: block;
                    margin-bottom: 13px;
                    font-size: 15px;

                }
            }
        }

        &__sponsor {
            &--logo {
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    display: flex;
                    padding: 37px 0 12px 0;
                    align-items: center;

                    li {
                        margin-right: 25px;
                        position: relative;

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                span {
                    display: inline-block;
                    width: 91px;
                    height: 66px;
                    background: url(../img/main/guide_wa.svg)no-repeat center;
                    position: relative;

                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            p {
                font-size: 15px;
            }
        }
    }
}


.checkbox-area {
    display: inline-block;

    input[type="checkbox"] {
        display: none;
    }

    label {
        cursor: pointer;
    }

    .label-check::before {
        content: "";
        display: inline-block;
        width: 27px;
        height: 27px;
        background: url(../img/common/check-round.svg)no-repeat center #8d8d8d;
        margin-right: 7px;
        border-radius: 50%;
        position: relative;
        top: 7px;
    }

    .input-check:checked+.label-check::before,
    .input-check[checked="checked"]+.label-check::before {
        background: url(../img/common/check-round.svg)no-repeat center #df3818;

    }

}

// 라디오박스
.radio-area {
    display: inline-block;

    input[type="radio"] {
        display: none;
    }

    label {
        cursor: pointer;
    }

    .form-radio::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/join/join_radio.svg)no-repeat center;
        border: solid 1px #686868;
        margin-right: 4px;
        border-radius: 50%;
        position: relative;
        top: 2px;
    }

    .input-radio {
        display: none;
    }

    .input-radio:checked+.form-radio::before,
    .input-radio[checked="checked"]+.form-radio::before {
        background: url(../img/join/join_radio_active.svg)no-repeat center;

    }

    .label-select {
        display: inline-block;
        width: 60px;
        height: 37px;
        border: solid 1px #b1b1b1;
        border-radius: 3px;
        line-height: 35px;
        text-align: center;
    }

    .radio-select:checked+.label-select {
        color: #006dbc;
        border: 1px solid #006dbc;
    }
}

// 인풋 박스
.input-area {
    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        border: solid 1px #b1b1b1;
        border-radius: 3px;
        width: 330px;
        height: 40px;
        padding: 0 0 0 4px;
        font-size: 16px;
        background: #fff;

        &::placeholder {
            font-size: 16px;
        }
    }

    .tit {
        margin-right: 8px;
    }

    .btn-check {
        border-radius: 3px;
        border: solid 1px #b1b1b1;
        background-color: #f5f5f5;
        height: 40px;
        width: auto;
        padding: 0 15px;
    }
}

// 셀렉트 박스
.select-area {
    select {
        border: solid 1px #b1b1b1;
        border-radius: 3px;
        width: 330px;
        height: 40px;
        padding: 10px 0 7px 8px;
        font-size: 16px;
        display: inline-block;
    }
}