@import "./var";
@import "./mixin";
@mixin label($checkSize){
    display: block;
    position:relative;
    height: inherit;
    padding-left:$checkSize + 5px;
    line-height: $checkSize - 2px;
    @extend %font-r;
    @extend %font-15;
    &::before{
        content: " ";
        position: absolute;
        display: block;
        top:0;
        left:0;
        width:$checkSize;
        height: $checkSize;
        margin:0 5px 0 0;
        border: 1px solid $gray2;
        background-color: $white;
        @extend %backCenter;
    }
    &:hover{
        &::before{
            background-color: $black;
            border-color: $black;
        }
    } 
}

.formInput{

        input{
            width: 100%;
            height: 40px;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid #B1B1B1;
            padding: 0 10px;
            font-size: 16px;
        }

        input:disabled{
            background-color: #F3F3F3;
            color: #959595;
        }

        .select-group{
            position: relative;

            .icon-select__arrow{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

            select{
                width: 100%;
                height: 40px;
                font-size: 16px;
                padding: 0 10px;
                padding-right: 30px;
                border: 1px solid #B1B1B1;
                border-radius: 3px;
                appearance:none;
                text-overflow: ellipsis;
            }
            select:disabled{
                background-color: #F3F3F3;
                color: #959595;
            }
        }

        &-check{
            .checkArea{
                position:relative;
                input[type="checkbox"]{
                    position:absolute;
                    width:110%; height:110%;
                    z-index:1;
                    opacity: 0;
                }
                &.checkRound{
                    $checkSize: 27px;
                    height: $checkSize;
                    label{
                        @include label(27px);
                        &::before{
                            border-radius: 100%;
                            background: url('../img/common/check-round.svg')no-repeat center #8d8d8d;
                            border: 1px solid #8d8d8d;
                        }
                        &.is_active,&:hover{
                            &::before{
                            background-color: #df3818;
                            border-color: #df3818;
                            }
                        }
                    }                            
                    &.disabled{
                        label{
                            color:$input_gray3;
                            &::before{
                                border-color:$input_gray3;
                                background-color: $input_gray3;
                            }
                            &:hover{
                                &::before{
                                    border-color:$input_gray3;
                                }
                            }
                        }
                    }
                }
                &.checkSquare{
                    label{
                        @include label(18px);
                        &::before{
                            border-radius: 3px;
                            background-position: 60% 50%;
                            background-image: url('../img/common/check-square.svg');
                        }
                        &.is_active{
                            &::before{
                                background-color: $blue2;
                                border-color:$blue2;
                            }
                        }
                    }
                    &.disabled{
                        label{
                            color:$input_gray3;
                            &::before{
                                border-color:$input_gray3;
                                background-color: $input_gray3;
                            }
                            &:hover{
                                &::before{
                                    border-color:$input_gray3;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-radio{
            .radioArea{
                padding:5px 0;
                input[type="radio"]{
                    display:none;
                }
                label{
                    @include label(18px);
                    &::before{
                        border: 0;
                        border-radius: 100%;
                        background-image: url('../img/common/radio.svg');
                    }
                    &:hover{
                        &::before{
                            background-image: url('../img/common/radio-hover.svg');
                        }
                    }         
                    &.is_active{
                        &::before{
                            background-image: url('../img/common/radio-active.svg');
                        }
                    }
                }
                &.disabled{
                    label{
                        color:$input_gray3;
                        &::before{
                            background-image: url('../img/common/radio-disabled.svg');
                        }
                        &.checkInput{
                            background-color: $bg_white;
                            &::after{
                                background-color: $input_gray3;
                            }
                        }
                    }
                }
            }
        }

        textarea{
            width: 100%;
            border: 1px solid #B1B1B1;
            border-radius: 3px;
        }

        .btn{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 15px;
            border-radius: 3px;
            font-size: 16px;

            &.btn-block{
                background-color: #3D3D3D;
                color: #fff;
            }

            &.btn-grey{
                background-color: #F5F5F5;
                border: 1px solid #B1B1B1;

                &:hover{
                    border-color: #3D3D3D;
                }
            }

            &.btn-md{
                font-size: 20px;
                font-weight: 500;
                height: 50px;
                min-width: 100px;
                padding: 0 32px;
            }

            &.no-radius{
                border-radius: 0;
            }
        }
}


.modal-wrap{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    z-index: 30;
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        background-color: #fff;
        border-radius: 10px;

        &-header{
            padding: 35px 0 15px 25px;
            border-bottom: 1px solid #BFBFBF;

            h1{
                font-size: 20px;
            }
        }

        &-body{
            padding:25px 23px 25px 25px;
            min-height: 114px;
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
            }
        }
        &-footer{
            display: flex;

            .button-grey{
                width: 128px;
                height: 52px;
                background-color: #A1A1A1;
                border-bottom-left-radius: 10px;
                color: #fff;
                font-size: 17px;
                font-weight: 500;
            }
            .button-blue{
                width: 222px;
                height: 52px;
                background-color: #092B8D;
                color: #fff;
                border-bottom-right-radius: 10px;
                font-size: 17px;
                font-weight: 500;
            }
        }
    }
}

.table-wrap{

    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-top: 2px solid #3D3D3D;
        caption{
            text-align: left;
            margin-bottom: 23px;
            font-size: 20px;
            font-weight: 500;
        }

        thead{
            th{
                background-color: #F5F5F5;
                padding: 13px 0;
                font-weight: 500;
            }
        }

        tbody{
            td{
                padding: 10px;
                background-color: #fff;
            }
        }

        th,
        td{
            border: 1px solid #D2D2D2;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;

    button,
    li{
        min-width: 35px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #BCBCBC;
        background-color: #fff;
        text-align: center;
        line-height: 35px;
        &:hover{
            background: #3D3D3D;
            border: 1px solid #3D3D3D;
            a{
                color: #fff;
            }
        }
        a{
            display:block;
            height: 100%;
        }
    }

    &-list{
        display: flex;

        li{
            margin-right: 5px;
            font-size: 16px;
            font-weight: 400;

            &:last-child{
                margin-right: 0;
            }

            &.is_active{
                background-color: #686868;
                border: none;
                color: #fff;
                a{
                    color: inherit;
                }
            }
        }
    }

    &-control--prev{
        font-size: 0;
        margin-right: 25px;

        .prev{
            margin-left: 5px;
        }
    }

    &-control--next{
        font-size: 0;
        margin-left: 25px;

        i{
            transform: rotate(180deg);
        }
        .next{
            margin-right: 5px;
        }
    }
}

.tab{
    &-nav{
        display: flex;
        li{
            width: 241px;
            height: 45px;
            padding: 11px 10px 10px 20px;
            background-color: #EEEFF1;
            border: 1px solid #b9bcc4;
            a{
                display: block;
                width: 100%;
                height: 100%;
                font-size: 16px;
                color: #3d3d3d;
                font-family: NotoSansCJKkr;
                font-weight: 500;
            }
        }
        li.is_active{
            background-color: #4a5470;
            a{
                color: #fff;
            }
        }
    }
}

.chart {
    position: relative;
    width: 1200px;
    height: 370px;
    border: solid #BEBEBE;
    border-width: 1px 0;
    &-wrapper{
        position: absolute;
        bottom: -18px;
        left: 0;
        ul li {
            width: 132px;
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            .chart-content-item{
                float: left;
                width: 12px;
                height: 100px;
                background-color: #00B3CA;
                border-radius: 10px;
                margin: 12px;
                .item-per {
                    position: absolute;
                    top: -10px;
                    font-size: 16px;
                    text-align: center;
                }
                .item-title {
                    position: absolute;
                    bottom: -20px;
                    font-size: 16px;
                    text-align: center;
                }
                &.item02{
                    background-color: #7DD0B6;
                }
                &.item03{
                    background-color: #E38690;
                }
            }
            .chart-content-name {
                display: block;
                position: absolute;
                bottom: -60px;
                width: 94px;
                height: 35px;
                line-height: 34px;
                text-align: center;
                border: 1px solid #969EB2;
                border-radius: 18px;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}
