%num{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
%icon-common{
    display: inline-block;
    background-size: 100%;
}

.icon {
    &-arrow {
        display: inline-block;
        width: 22px;
        background: url(../img/join/id_arrow.svg) no-repeat center;
        height: 12px;
        margin-left: 5px;
    }

    &-num {
        &__1 {
            @extend %num;
            background: url(../img/join/num_1.svg) no-repeat center;
            background-size: 100%;
        }
        &__2 {
            @extend %num;
            background: url(../img/join/num_2.svg) no-repeat center;
            background-size: 100%;
        }
        &__3 {
            @extend %num;
            background: url(../img/join/num_3.svg) no-repeat center;
            background-size: 100%;
        }
        &__4 {
            @extend %num;
            background: url(../img/join/num_4.svg) no-repeat center;
            background-size: 100%;
        }
        &__5 {
            @extend %num;
            background: url(../img/join/num_5.svg) no-repeat center;
            background-size: 100%;
        }
    }
    &-bell{
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../img/common/bell.svg) no-repeat center;
        background-size: 100%;
    }
    &-plus{
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(../img/common/plus.svg) no-repeat center;
        background-size: 100%;
    }
    &-edu{
        display: inline-block;
        width: 58px;
        height: 58px;
        background: url(../img/join/icon_edu.svg) no-repeat center;
        background-size: 100%;
    }
    &-prize{
        display: inline-block;
        width: 68px;
        height: 65px;
        background: url(../img/join/icon_prize.svg) no-repeat center;
        background-size: 100%;
    }
    &-award{
        display: inline-block;
        width: 52px;
        height: 54px;
        background: url(../img/join/icon_award.svg) no-repeat center;
        background-size: 100%;
    }
    &-training{
        display: inline-block;
        width: 52px;
        height: 52px;
        background: url(../img/join/icon_training.svg) no-repeat center;
        background-size: 100%; 
    }
    &-home{
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../img/common/home.svg) no-repeat center;
        background-size: 100%; 
    }
    &-arrow__w{
        width: 12px;
        height: 8px;
        background: url(../img/common/nav_arrow_w.svg) no-repeat center;
        background-size: 100%; 
        display: inline-block;
    }
    &-list{
        width: 14px;
        height: 18px;
        background: url(../img/common/icon_list.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-watch{
        width: 24px;
        height: 24px;
        background: url(../img/common/icon_watch.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-message{
        width: 18px;
        height: 17px;
        background: url(../img/common/message.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-pagination{
        width: 5px;
        height: 10px;
        background: url(../img/common/pagination_arrow.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-pagination--d{
        width: 10px;
        height: 10px;
        background: url(../img/common/pagination_arrow_d.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-lock{
        width: 14px;
        height: 18px;
        background: url(../img/common/lock.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-download{
        width: 16px;
        height: 16px;
        background: url(../img/common/download.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-clock{
        width: 72px;
        height: 72px;
        background: url(../img/ssp/clock.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-share{
        width: 50px;
        height: 50px;
        background: url(../img/common/share.svg) no-repeat center / 100%;
        display: inline-block;
    }
    &-plus__more{
        width: 18px;
        height: 18px;
        background: url(../img/ssp/plus_w.svg) no-repeat center / 100%;
        display: inline-block;
    }
}