

/* 공통 */
.wd-495 {width: 495px !important;}
.pd-30 {padding-left: 30px !important;}
.pb-40 {padding-bottom: 40px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-160 {margin-top: 160px !important;}
.mt-130 {margin-top: 130px !important;}
.ellipsis01 {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.align_right {
    text-align: right !important;
}
.last_boder {border-color: #6e6e6e !important;}
.out {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    width: 1px;
    height: 1px;
}
/* //공통 */

.cont_area {
    width: 1200px; 
    padding: 0 50px 40px 50px;
    background: #fff;
}

/* 상단 검색 영역 */
.head_search {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 0;
    .left {
        .post_page {
            line-height: 24px; font-size: 16px;
            > * {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-right: 7px;
            }
        }
    }
    .right {
        font-size: 0;
        .formInput {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;                
            .select-group {

            }
            input {
                border-radius: 3px 0 0 3px;
            }   
            button {
                background-color: #686868;
                border-radius: 0 3px 3px 0;
                &:hover {
                    background: #3d3d3d;
                }
            }
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-left: 0;
            }
            
        }
    }
}
/* //상단 검색 영역 */


/* 테이블 타입 01 */
.table_type {
    &01 {
        table {
            width: 100%;
            table-layout: fixed;         
            border-collapse: separate;   
            caption {
                
            }
            thead {     
                border-collapse: separate;                          
                tr {                                    
                    th {
                        height: 60px;
                        background-color: #f2f2f2;                                                                                           
                        border-top: 1px solid #6e6e6e;
                        border-bottom: 1px solid #6e6e6e;
                        font-weight: 400;
                        font-size: 16px;
                        color: #3d3d3d;
                        &:first-of-type {
                            border-radius: 5px 0 0 5px;    
                            border-left: 1px solid #6e6e6e;
                        }
                        &:last-of-type {
                            border-radius: 0 5px 5px 0;    
                            border-right: 1px solid #6e6e6e;
                        }
                        &.tit {
                            padding-right: 150px;
                        }                        
                    }
                }
            }
            tbody {
                border-collapse: separate;
                tr {
                    td {
                        height: 70px;
                        border-bottom: 1px solid #bcbcbc;
                        font-size: 16px;
                        text-align: center;
                        text-overflow: ellipsis;
                        &.numb {
                            font-family: 'roboto', 'sans-serif';
                        }
                        &.tit {
                            padding-left: 20px;
                            text-align: left;
                        }
                        &.views {
                            font-family: 'roboto', 'sans-serif';
                        }
                        &.date {
                            font-family: 'roboto', 'sans-serif';
                        }
                        &.attachments {
                            span {
                                font-size: 0;
                                button {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    margin-left: 5px;
                                    border: 1px solid #bcbcbc;
                                    border-radius: 100%;
                                    vertical-align: middle;
                                    &:first-of-type {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            tr {
                border-collapse: separate;
                th {
                    border-collapse: separate;
                }
                td {
                    border-collapse: separate;
                }
            }
        }
    }
}
/* //테이블 타입 01 */

.cont_item {

}

/* 공통 제목 */
.subject_area {    
    h3 {
        line-height: 1.5;
        padding: 26px 30px 22px;
        background: #f2f2f2;
        border: solid 1px #6e6e6e;
        border-radius: 5px;    
        font-weight: 500;
        font-size: 20px;
        color: #3d3d3d;
    }
}
/* //공통 제목 */

/* 작성자 등록일 답변일 */
.write_info_area {
    border-bottom: 1px solid #bcbcbc;
    padding: 25px 30px;
    font-size: 0;
    .info {
        span {
            display: inline-block;            
            margin-right: 30px;
            font-size: 16px; 
            color: #3d3d3d;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .attachments {
        font-size: 16px; 
        color: #3d3d3d;
        span {
            display: inline-block;
            vertical-align: middle;
            &.btn_area {
                margin-left: 10px;
                font-size: 0;
                button {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-left: 3px;
                    border: 1px solid #bcbcbc;
                    border-radius: 100%;
                    vertical-align: middle;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
/* //작성자 등록일 답변일 */

.writing {
    padding: 30px;
    border-bottom: 1px solid #bcbcbc;
    h4 {
        line-height: 2;
        font-weight: 500;
        font-size: 20px;
        color: #3d3d3d;
    }
    p {
        line-height: 2.19;
        font-size: 16px;
        color: #3d3d3d;
    }
    .img_area {

    }
}

.big_icon_txt {
    position: relative;
    i {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 74px;
        height: 81px;
    }
    .txt {
        padding-left: 110px;
        strong {
            font-weight: 500;
            font-size: 18px;
            color: #3d3d3d;
        }
        p {
            line-height: 1.63;
            font-size: 16px;
            color: #3d3d3d;
        }
    }
}

.form_type01 {
    font-size: 0;
    > div {
        display: inline-block;
        vertical-align: middle;
    }
    .subject {
        width: 80px;
        line-height: 1.38;
        font-size: 16px;
        color: #3d3d3d;
    }
    .formInput {
        width: calc(100% - 80px);
        input {
            line-height: 1.94;
            font-family: "NotoSerifCJKkr", "roboto", "Malgun Gothic", sans-serif;
            font-size: 16px;
            color: #3d3d3d;
        }
        textarea {
            height: 330px;
            line-height: 1.94;
            padding: 20px;
            font-size: 16px;
            color: #3d3d3d;
        }
    }
}
 .form_type01.except{
     display: flex;
     .subject{
         padding-top: 8px;
     }
 }
/* 파일 첨부 */
.file{
    &_attach {
        > span {
            display: inline-block;
            vertical-align: middle;
            p {
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                border: 1px solid #b1b1b1;
                border-radius: 5px 0 0 5px;
                font-size: 16px;
                color: #3d3d3d;
            }
            input[type="file"] {

            }
            label {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                background: #686868;
                border-radius: 0 5px 5px 0;
                font-size: 16px;
                color: #fff;
                text-align: center;
            }
           
        }
    }
}
/* //파일 첨부 */


/* 방지 문자 */
.anti_character {
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    span {
        display: inline-block;
        vertical-align: middle;
        &.message {
            width: 160px;            
            padding: 5px 0 5px 10px;
            p {
                width: 100%;
                height: 50px;
                line-height: 50px;
            }
        }
        &.btn_area {
            button {
                display: block;
                width: 100%;
                height: 30px;
                text-align: center;
                background: #f6f6f6;
                border-left: 1px solid #b1b1b1;
                border-right: 1px solid #b1b1b1;
                &:first-of-type {border-bottom: 1px solid #b1b1b1;}
            }
        }
        &.inp {
            margin-left: 3px;
        }
    }
}
/* //방지 문자 */


/* QnA list */
.qna_list {
    ul {
        li {
            margin-top: 15px;
            &:not(.active){
                .tit_area{

                    &:hover{
                        background: #f2f2f2;
                        border-color: #6e6e6e;
                    }
                }
            }
            &:first-of-type {
                margin-top: 0;
            }
            &.active {
                .tit_area {
                    background: #f2f2f2; border-color: #6e6e6e; border-radius: 5px 5px 0 0;
                    .vertical {
                        > span {
                            &.arrow {
                                i {
                                    top: 2px;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }           
            }            
            .tit_area {
                display: flex;
                align-items: center;
                position: relative;
                height: 70px;
                border: 1px solid #bcbcbc;
                border-radius: 5px;
                .vertical {
                    > span {
                        display: inline-block;
                        font-size: 16px;
                        color: #3d3d3d;
                        vertical-align: middle;
                        &.numb {
                            position: relative;                            
                            padding: 0 24px 0 35px;
                            font-family: 'roboto', 'sans-serif';
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                                width: 1px;
                                height: 15px;
                                background: #b1b1b1;
                            }
                        }
                        &.tit {
                            width: 900px;
                            margin-left: 24px;
                        }
                        &.arrow {
                            position: absolute;
                            top: 50%; 
                            right: 20px;
                            transform: translateY(-50%);
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background: #fff;
                            border: 1px solid #bcbcbc;
                            border-radius: 100%;
                            i {
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
                .btn_wrap {
                    position: absolute;
                    top: 0; 
                    left: 0;
                    width: 100%;
                    height: 100%;
                  
                }
            }
            .info_txt_area {
                display: none;
                padding: 0 55px;
                border: 1px solid #6e6e6e;
                border-top: none;
                border-radius: 0 0 5px 5px;
                .top {
                    line-height: 2.19;
                    padding: 33px 0 24px;                    
                    font-size: 16px;
                    color: #3d3d3d;
                }
                .btm {
                    padding: 43px 0 60px;
                    border-top: 1px solid #bcbcbc;
                    span {
                        display: inline-block;
                        font-size: 16px;
                        color: #3d3d3d;
                        vertical-align: middle;
                        &.icon_area {
                            margin-left: 10px;
                            button {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                border: 1px solid #bcbcbc;
                                border-radius: 100%;
                                text-align: center;
                                i {
                                    &.icon-watch {
                                        width: 20px;
                                        height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* //QnA list */